# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# VS Code settings
.vscode/

# Uploaded files
backend/uploads/

# Temporary files
*.tmp